// resources/fonts.rc -- embed the vendored Roboto TTFs (assets/fonts, Apache 2.0,
// license at assets/fonts/LICENSE-Roboto.txt) into the DLL as RCDATA so the
// overlay needs no loose font files next to the binary.

#include "font_resource_ids.h"

IDR_FONT_ROBOTO_REGULAR RCDATA "../assets/fonts/Roboto-Regular.ttf"
IDR_FONT_ROBOTO_BOLD    RCDATA "../assets/fonts/Roboto-Bold.ttf"
